button {
    height: 22px;
    padding: 0 9px;
    border-radius: 2px;
    cursor: pointer;
    border: solid 1px;
  box-sizing: border-box;
}

button.small {
    height: 20px;
    padding: 0 5px;
}

button.default {
    background-color: #ffffff;
    border-color: #dedede;
    color: #222222;
}

button.secondary {
    background-color: #5c99b7;
    border-color: #5c99b7;
    color: #ffffff;
}

button.primary {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #ffffff;
}

button.light {
  border: none;
  background: none;
  color: #679fbb;
}
